.socials-client {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: -30px;
  margin-bottom: -30px;
}

.socials-client__link {
    //width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: border-color 250ms linear, color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
    margin-bottom: 30px;
    
   
  }
  
  .socials-client__icon {
    fill: currentColor;    
  }
  
  .socials-client__item {    
    margin-left: 30px;
      
    width: calc(100% / 2 - 30px); 

    @media screen and (min-width:768px){
      width: calc(100% / 3 - 30px); 
            
    } 
    @media screen and (min-width:1200px){
      width: calc(100% / 6 - 30px);
    }
  }
  