.header {
    background: var(--primary-white-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
    @media screen and ( min-width:768px) {  
      padding-top: 20px;
      padding-bottom: 20px;    
    }      
    @media screen and ( min-width:1200px) {  
      padding-top: 24px;
      padding-bottom: 24px;    
    }     
  }

  .site-nav {
    display: none;
    @media screen and (min-width:768px) { 
     display: flex;
    }    
  }
  
  .site-list {
    display: flex;
  }
  
  .header__container {
    @extend %align-list;    
  }
  
  .connect {    
    @media screen and (max-width: 767px) {
     display: none;
    } 
    @media screen and (min-width:768px) {      
      margin-left: auto;

    } 
    @media screen and (min-width:1200px) {  
      display: flex;
      align-items: center;    
    }             
  }

  .site-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }   
  }
  
  .site-list__item:not(:last-child) {
    margin-right: 50px;    
  }

  .site-connect__item:not(:last-child) {
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  
  .connect__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--discription-color);
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);      
    }
    @media screen and (min-width:1200px) {  
      font-size: 14px;
    line-height: 1.14;     
    }     
  }

  .menu-open-btn {
    padding: 0;        
    min-height: 40px;
    min-width: 40px;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
    @media screen and (min-width:768px) {  
    display: none;
    }         
  }
  

  .mob-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: 10;    
    padding: 48px 40px;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    transition: transform 500ms; 
    
  } 

  .menu-close-btn{ 
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }  
  }
  
  .menu-list__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    transition: color 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {      
      color: var(--accent-color);
    }
    
  }  

  .menu-list__item{    
    margin-bottom: 32px;  
  }

  .mob-connect__tel {    
    font-weight: 500;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.02em;      
    color: var(--accent-color);
  }
  
  .mob-connect__mail {      
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;  
  color: #757575;
}
  .mob-connect{    
    margin-bottom: 64px;
  }

  .mob-socials{    
    display: flex;
    flex-wrap: wrap;
  }

.mob-socials-item{  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;  
  letter-spacing: 0.02em;
  color: #2196F3;  
  
}  
.mob-socials-item1:not(:last-child) {  
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33,33,33,0.2);
}