.portfolio-list{  
  @media screen and (min-width:768px){
    display: flex;
    flex-wrap: wrap; 
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width:1200px){
    
  }
}

.portofolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--body-text-color);
    margin-bottom: 4px;
  }  
  
  .portofolio-pad {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;  
  }
  
  .portofolio-item {
    background: var(--primary-white-color);    
    //width: 370px;
    transition: box-shadow 250ms var(--cubic), color 250ms var(--cubic);    
    position: relative; 
    margin-bottom: 30px;

    @media screen and (min-width:768px){
      width: calc(100% / 2 - 30px); 
      margin-left: 30px;
           
    } 
    @media screen and (min-width:1200px){
      width: calc(100% / 3 - 30px);
    }
  }  

  .portofolio-link {
    display: flex;
    flex-direction: column;
    height: 100%;   
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portofolio-img-text,
    &:focus .portofolio-img-text {
      transform: translateY(0);
    }
  }  
    
  .portofolio-item-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .portofolio-img-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px;
    letter-spacing: 0.03em;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
  }
  
  
  .portofolio-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--discription-color);
  }
  
  .portofolio-btn {
    background: #f5f4fa;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-width: 0;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--body-text-color);
    cursor: pointer;
    padding: 6px 22px;   
    transition: box-shadow 250ms var(--cubic), background-color 250ms var(--cubic),
      color 250ms var(--cubic);
     
    margin-bottom: 15px;
    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--primary-white-color);
      background: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);        
    }
  }

  .button-item:not(:last-child) {
    margin-right: 8px
   }
  
  .ul-btn {    
    margin-bottom: 40px;
    margin-bottom: -15px;
    flex-wrap: wrap;
    @media screen and (min-width:768px){
      padding-bottom: 30px;
      justify-content: center;
    }
    @media screen and (min-width:1200px){
      padding-bottom: 50px;
    }
  }
 