.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;  
  font-size: 24px;  
  line-height: 1.19;  
  letter-spacing: 0.03em;  
  color: var(--accent-color);    
  @media screen and ( min-width:1200px) {  
  font-size: 26px;
  line-height: 1.19;      
  }        
}
  
.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--body-text-color);
    
    @media screen and (min-width:768px) {
      margin-right: 93px;
     }
    @media screen and (min-width:1200px) {
      font-size: 26px;
      line-height: 1.19;        
    } 
}
  
.footer__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    @media screen and ( min-width:1200px) {
      font-size: 26px;
      line-height: 1.19;  
    } 
}